.scrollTableWrapper {
  width: 100%;
  flex: 1;
  overflow: hidden;
  :global(.ant-table-wrapper) {
    width: 100%;
  }
}

.hiddenTopBorder {
  :global(.ant-table-container) {
    border-top-width: 0 !important;
  }
}
