.dbHeader {
  width: 100%;
}

.dbHeaderRight {
  padding: 0 var(--dm-spacing-4);
}

.dbDrawerHeader {
  width: 100%;
  padding: var(--dm-spacing-4) !important;
}

.dbDrawerBody {
  padding: 0 !important;
}
