.dbHeader {
  width: 100%;
  box-sizing: border-box;
  :global(.ant-tabs-nav) {
    margin-bottom: 0;
  }
}

.dbItemTableWrapper {
  width: 100%;
  height: 100%;
}

.dbItemTable {
  width: 100%;
  flex: 1;
  overflow: hidden;
}

.dbItemTableContainer {
  flex: 1;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.dbItemTablePage {
  width: 100%;
  padding: var(--dm-spacing-4) 0;
  box-sizing: border-box;
  position: relative;
  &:before {
    content: '';
    position: absolute;
    display: block;
    left: 0;
    right: 0;
    width: 100%;
    height: 1px;
    top: -1px;
    background-color: var(--dm-gray);
  }
}

.dbItemTableDetails {
  height: 100%;
  :global(.ant-spin-nested-loading) {
    width: 100%;
    height: 100%;
  }
  :global(.ant-spin-container) {
    width: 100%;
    height: 100%;
  }
}
.dbItemTableDetailsInfo {
  width: 100%;
  height: 100%;
  box-sizing: border-box;
  overflow: auto;
}

.dbColumns {
  width: 100%;
  box-sizing: border-box;
  padding: 0 var(--dm-spacing-3);
}

.dbHeaderRight {
  padding: 0 var(--dm-spacing-4);
  box-sizing: border-box;
}

.dbDrawerHeader {
  width: 100%;
  padding: var(--dm-spacing-4) !important;
}

.dbDrawerHeaderRight {
  gap: var(--dm-spacing-4);
  span {
    font-size: var(--dm-small-font-size);
  }
}

.dbDrawerBody {
  padding: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: var(--dm-spacing-4);
}

.dbDrawerEditor {
  width: 100%;
  height: 300px;
  box-sizing: border-box;
  border-bottom: 1px solid var(--dm-gray);
}

.dbDrawerWrapper {
  width: 100%;
  flex: 1;
  overflow: hidden;
}
