.dbHeader {
  width: 100%;
  box-sizing: border-box;
  :global(.ant-tabs-nav) {
    margin-bottom: 0;
  }
}

.dbHeaderRight {
  padding: 0 var(--dm-spacing-4);
  box-sizing: border-box;
}

.dbDrawerHeader {
  width: 100%;
  padding: var(--dm-spacing-4) !important;
}

.dbDrawerBody {
  padding: 0 !important;
  width: 100%;
  display: flex;
  flex-direction: column;
}
.dbDrawerWrapper {
  width: 100%;
  flex: 1;
}
.dbDrawerEditor {
  width: 100%;
  height: 300px;
}
.dbDrawerError {
  width: 100%;
  padding: 0 var(--dm-spacing-4) var(--dm-spacing-4) var(--dm-spacing-4);
  box-sizing: border-box;
}

.dbItemTableWrapper {
  width: 100%;
  height: 100%;
}
.dbItemTable {
  width: 100%;
  flex: 1;
  overflow: hidden;
}
.dbItemTableContainer {
  flex: 1;
  height: 100%;
  width: 100%;
}
.dbItemTableContainerInfo {
  width: 100%;
  flex: 1;
  :global(.ant-table-thead .ant-table-cell) {
    white-space: nowrap;
    text-overflow: ellipsis;
    overflow: hidden;
  }
}
.dbItemTableDetails {
  height: 100%;
}
