.foreigner {
  width: 100%;
  overflow: auto;
}

.foreign {
  width: 100%;
  span {
    white-space: nowrap;
  }
}

.foreignColumnName {
  font-size: var(--dm-large-font-size);
}

.foreignOther {
  font-size: var(--dm-small-font-size);
}
