.indexItem {
  width: 100%;
  overflow: auto;
}

.indexes {
  width: 100%;
  span {
    white-space: nowrap;
  }
}

.indexColumnName {
  font-size: var(--dm-large-font-size);
}

.indexOther {
  font-size: var(--dm-small-font-size);
}
